<%- include('partials/header') %>

<div class="content">
    <h1 class="title is-4">Erro</h1>
    <div class="notification is-danger">
        <%= error %>
    </div>
    <a href="javascript:history.back()" class="button is-primary">Voltar</a>
</div>

<%- include('partials/footer') %>